In [11]:
import pandas as pd

basketball_df = pd.read_csv('acc_players-2324F.csv')
basketball_df.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Totals,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Shooting,Unnamed: 15,Unnamed: 16,Unnamed: 17,Advanced,Unnamed: 19,Unnamed: 20
0,Rk,Player,Class,Pos,School,G,MP,TRB,AST,STL,...,TOV,PF,PTS,FG%,2P%,3P%,FT%,PER,WS,BPM
1,1,Amaree Abram,SO,G,Georgia Tech,10,108,17,11,1,...,9,10,34,0.262,0.318,0.2,0.615,4.1,-0.1,-6.4
2,2,Sola Adebisi,FR,F,Florida State,7,9,1,1,0,...,1,1,2,0.5,0.5,NaN,NaN,3.5,0,-6.7
3,3,Prince Aligbe,SO,F,Boston College,35,651,119,21,15,...,30,51,164,0.435,0.522,0.147,0.62,9.4,0.9,-1.3
4,4,Abe Atiyeh,SR,G,Boston College,4,6,0,0,0,...,1,0,3,0.333,0,1,NaN,1.1,0,-8.2

In [6]:
print(basketball_df.columns)

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Totals', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Shooting',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Advanced', 'Unnamed: 19',
       'Unnamed: 20'],
      dtype='object')

In [45]:
# Calculate the total points scored by all players combined

basketball_df = basketball_df.iloc[1:].copy()

basketball_df['Unnamed: 13'] = pd.to_numeric(basketball_df['Unnamed: 13'])
total_points = basketball_df['Unnamed: 13'].sum()
print(total_points)

38377

In [17]:
# Find the player who has played the most minutes (MP)

basketball_df['Unnamed: 6'] = pd.to_numeric(basketball_df['Unnamed: 6'])
max_minutes = basketball_df['Unnamed: 6'].max()

player_with_most_minutes = basketball_df.loc[basketball_df['Unnamed: 6'] == max_minutes, 'Unnamed: 1'].values[0]

print(player_with_most_minutes)

Casey Morsell

In [18]:
# Identify the top 5 players in terms of total rebounds (TRB).

basketball_df['Unnamed: 7'] = pd.to_numeric(basketball_df['Unnamed: 7'])
top_5_players_rebounds = basketball_df.nlargest(5, 'Unnamed: 7')

top_5_players_rebounds = top_5_players_rebounds[['Unnamed: 1', 'Unnamed: 7']]

print(top_5_players_rebounds)

          Unnamed: 1  Unnamed: 7
6      Armando Bacot         380
179  Ian Schieffelin         340
91   Harrison Ingram         327
45    Mohamed Diarra         311
150    Norchad Omier         309

In [47]:
# Create a new DataFrame containing only players who played more than 500 minutes.

new_df = basketball_df[basketball_df['Unnamed: 6'] > 500].copy()
print(new_df.head(5))

   Unnamed: 0     Unnamed: 1 Unnamed: 2 Unnamed: 3      Unnamed: 4 Totals  \
3           3  Prince Aligbe         SO          F  Boston College     35
5           5    Zack Austin         JR          F      Pittsburgh     33
6           6  Armando Bacot         SR          F  North Carolina     37
8           8  Reece Beekman         SR          G        Virginia     34
10         10     Chris Bell         SO          F        Syracuse     32

    Unnamed: 6  Unnamed: 7  Unnamed: 8 Unnamed: 9  ... Unnamed: 11  \
3          651         119          21         15  ...          30
5          746         137          29         32  ...          13
6         1123         380          56         22  ...          60
8         1114         124         212         68  ...          70
10         865          75          21         18  ...          26

   Unnamed: 12 Unnamed: 13  Shooting Unnamed: 15 Unnamed: 16 Unnamed: 17  \
3           51         164     0.435       0.522       0.147        0.62
5           35         216     0.417       0.563       0.295       0.737
6          100         538      0.54       0.544         0.4       0.781
8           43         486     0.443       0.487        0.31       0.754
10          58         384     0.434       0.459        0.42       0.842

   Advanced Unnamed: 19 Unnamed: 20
3       9.4         0.9        -1.3
5        18         2.9         7.9
6      24.6         6.1         8.9
8      23.4         4.9        10.5
10     14.9         2.2         3.3

[5 rows x 21 columns]

In [48]:
# From this filtered DataFrame, determine the player with the highest total assists (AST).

new_df['Unnamed: 8'] = pd.to_numeric(new_df['Unnamed: 8'])
player_with_highest_assists = new_df.loc[new_df['Unnamed: 8'] == new_df['Unnamed: 8'].max(), 'Unnamed: 1']

print(player_with_highest_assists)

8    Reece Beekman
Name: Unnamed: 1, dtype: object

In [43]:
# Who are the top 3 Assist Leads in the League?

assist_leads = new_df.nlargest(3, 'Unnamed: 8')
assist_leads = assist_leads[['Unnamed: 1', 'Unnamed: 8']]
print(assist_leads)

         Unnamed: 1  Unnamed: 8
8     Reece Beekman         212
216  Jaeden Zackery         152
22    Elliot Cadeau         150

In [49]:
# Who are the top 3 Shot Blockers?

new_df['Unnamed: 10'] = pd.to_numeric(new_df['Unnamed: 10'])
shot_blockers = new_df.nlargest(3, 'Unnamed: 10')
shot_blockers = shot_blockers[['Unnamed: 1', 'Unnamed: 10']]
print(shot_blockers)

        Unnamed: 1  Unnamed: 10
52       Ryan Dunn           77
158   Quinten Post           61
6    Armando Bacot           56

In [34]:
# Group the players by School and calculate the total points scored by each school.

total_points_by_school = basketball_df.groupby('Unnamed: 4')['Unnamed: 13'].sum()
print(total_points_by_school)

Unnamed: 4
Boston College    2667
Clemson           2785
Duke              2830
Florida State     2526
Georgia Tech      2272
Louisville        2304
Miami (FL)        2424
NC State          3101
North Carolina    3032
Notre Dame        2113
Pittsburgh        2495
Syracuse          2442
Virginia          2140
Virginia Tech     2547
Wake Forest       2733
Name: Unnamed: 13, dtype: int64

In [35]:
# Group the players by School and calculate the total assists (AST) for each team.

total_asts_by_school = basketball_df.groupby('Unnamed: 4')['Unnamed: 8'].sum()
print(total_asts_by_school)

Unnamed: 4
Boston College    509
Clemson           533
Duke              551
Florida State     406
Georgia Tech      425
Louisville        356
Miami (FL)        454
NC State          536
North Carolina    536
Notre Dame        335
Pittsburgh        452
Syracuse          442
Virginia          509
Virginia Tech     514
Wake Forest       429
Name: Unnamed: 8, dtype: int64

In [40]:
# Sort the schools by total points scored and display the top 3 schools.

sorted_schools_by_total = total_points_by_school.sort_values(ascending=False)
top_3_schools = sorted_schools_by_total.head(3)
print(top_3_schools)

Unnamed: 4
NC State          3101
North Carolina    3032
Duke              2830
Name: Unnamed: 13, dtype: int64